*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #111827;
    color: white;
    margin: 0;
    padding: 20px;
}

.container{
    max-width: 500px;
    margin: auto;
}

h1{
    text-align: center;
    color: #60a5fa;
}

.form-box{
    background: #1f2937;
    padding: 20px;
    border-radius: 15px;
}


input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}


button{
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}


button:hover{
    background: #1d4ed8;
}


#accountList{
    margin-top: 15px;
}


.card{
    background: #1f2937;
    padding: 15px;
    margin-top: 10px;
    border-radius: 12px;
}


.card button{
    width: 32%;
    font-size: 13px;
    margin-right: 1%;
}


.detail{
    background: #059669;
}


.edit{
    background: #f59e0b;
}


.delete{
    background: #dc2626;
}
